.App {
  font-family: sans-serif;
  text-align: center;
  width: 100% !important;
  height: 100% !important;
}
/* .MuiCardContent-root {
  
} */
.MuiCard-root {
  width: 70%;
  margin: 2px auto;
}
.MuiCardActions-root {
  background-color: #f9f9f9;
}
.MuiFormControl-root {
  margin: 10px 0px !important;
  float: left;
}
.MuiAvatar-root {
  width: 140px !important;
  height: 140px !important;
  margin: 50px auto;
}
.MuiSelect-select {
  min-width: 170px !important;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.skill-set li:hover {
  background: #3498db;
}
/* #resumeGen {
  background-color: whitesmoke;
} */

#backbtn {
  text-align-last: end;
}

#printbtn {
  margin-right: 110px;
  margin-top: 9px;
  top: 0;
  right: 0;
  position: absolute;
}
.pdfGen {
  background-color: black !important;
  color: white !important;
}
.left {
  margin: 210px auto;
}
.right {
  margin-left: 60px;
}
.vl {
  border-left: 1px solid black;
}
.skillSet .MuiButton-root {
  margin: 4px;
}
@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
  .left {
    margin-left: 18mm;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 20mm;
}
@media screen and (max-width: 860px) {
  .MuiCard-root {
    width: 90%;
  }
  .MuiStepper-root {
    padding: 1px !important;
  }
  .MuiTypography-body2 {
    font-size: 0.65rem !important;
  }
  .MuiSvgIcon-root {
    font-size: 0.95rem !important;
  }
}
@media screen and (max-width: 948px) and (min-width: 865px) {
  .MuiCard-root {
    width: 80%;
  }
}
.MuiFormControl-root {
  width: 100%;
}
.MuiButtonBase-root {
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}
.MuiButton-contained {
  margin-right: 10px !important;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

footer,
header {
  display: block;
}
*,
::after,
::before {
  box-sizing: border-box;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
}
.pageContent {
  min-height: calc(100vh - 110px);
}
@media screen and (max-width: 575px) {
  .socialMedBtn {
    width: 100% !important;
    margin-left: 20px !important;
    padding-right: 0px !important;
    margin-top: 10px !important;
  }
  .loginForm {
    padding-right: 30px !important;
  }
}
.leftSide {
  background-color: #343f56;
  width: 100%;
  height: 100%;
  color: #e8eae6;
}
.rightSide {
  background-color: #e8eae6;
  width: 100%;
  height: 100%;
}
#resumePrintPage {
  width: 100% !important;
}
.profileIcon {
  font-size: 150px;
  color: #e8eae6;
}
.leftHeader {
  color: #e8eae6;
  text-align: start;
  margin-left: 60px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.leftHeaderLine {
  background: white;
  width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 60px;
  border-width: 2px;
}
.rightHeader {
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 90px 0px 0px 60px;
  text-align: start;
}
.rightSideData {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.rightlistData {
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 20px 0px 0px 60px;
  text-align: start;
}
.rightlistData li {
  margin-left: -20px;
}
.rightHeaderLine {
  background: grey;
  padding: 0px;
  margin: 0px 0px 0px 60px;
  border-width: 2px;
}
.events li {
  display: flex;
  color: #353534;
}

.events time {
  position: relative;
  padding: 0 0.3em;
}

.events time::after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  transform: translateX(50%);
  border-radius: 50%;
  background: #fff;
  border: 1px #ccc solid;
  width: 0.8em;
  height: 0.8em;
}

.events span {
  padding: 0 1.5em 1.5em 1.5em;
  position: relative;
}

.events span::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  border-left: 1px #ccc solid;
}

.events strong {
  display: block;
  font-weight: bolder;
}

.events {
  margin: 1em;
  width: 100%;
}
.events,
.events *::before,
.events *::after {
  box-sizing: border-box;
  font-family: arial;
}
.projListitem {
  list-style: outside !important;
  display: list-item !important;
}

.btn-circle {
  width: 50px !important;
  height: 50px !important;
  padding: 6px 0px !important;
  border-radius: 45px !important;
  text-align: center !important;
  font-size: 12px !important;
  line-height: 1.42857 !important;
}
.card {
  width: 70%;
  margin: auto;
}
